
.spacing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%
}

.Navigation{
  font-family: 'Cinzel', serif;
  background-color: #ffd9da;
  color: black;
  font-size: 500px;
  height: 150px;
}

body {
  font-family: 'Lato', sans-serif;
}

.home_picture {
  height: 90%;
  width: 100%;
}

