
.spacing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%
}

.Navigation{
  font-family: 'Permanent Marker', cursive;
  background-color: lightskyblue;
  font-size: 500px;
}

body {
  font-family: 'Crimson Text', serif;
}

.logo {
  https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ
}